*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
    background: linear-gradient(to right, #6660ff, #f9f9f9);
    min-height: 100vh;
    padding-top: 25px;
}

.text-gray {
    color: #aaa;
}

